<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BdTranslate" type="System.Configuration.NameValueSectionHandler,System, Version=4.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <BdTranslate>
    <add key="AppId" value="" />
    <add key="AppSecret" value="" />
    <add key="ApiBaseUrl" value="http://api.fanyi.baidu.com/api/trans/vip/translate" />
  </BdTranslate>
</configuration>
